.Container {
  width:400px;
  height:600px;
  margin:auto;
  margin-top:50px;
  background: repeating-linear-gradient(
    45deg,
    #000000,
    black 10px,
    rgb(29, 26, 26) 10px,
    rgb(29, 26, 26) 20px
);
}

.top-rectangle {
  width:50px;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  background-color:black;

}

.stoplight {
  width:150px;
  height:400px;
  background-color:black;
  margin:auto;
  padding-top:10px;
}

.lights {
  width:120px;
  height:120px;
  border-radius:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  background-image: url(/pop-art-background-dots-png.png);
  background-size: contain;
}

#red-light {
  background-color:red;

}

#yellow-light {
  background-color:yellow;

}

#green-light {
  background-color:lightgreen;   
}

#red-light:hover {
  box-shadow: 0px 0px 40px 20px red;
}
#yellow-light:hover {
  box-shadow: 0px 0px 40px 20px yellow;
}
#green-light:hover {
  box-shadow: 0px 0px 40px 20px lightgreen;
}

